.title {
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 28px;
  line-height: 54px;
  letter-spacing: -3%;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #262626;
}

/* Tablets  */
@media (min-width: 768px) {
  .title {
    display: flex;
    gap: 20px;
    padding-left: 0px;
  }
}

/* Desktops  */
@media (min-width: 1024px) {
  .title {
    max-width: 1200px;
    align-items: none;
    gap: 24px;
    padding-left: 40px;
    margin-left: 0;
    font-size: 56px;
    padding-bottom: 80px;
    font-weight: 600;
    font-size: 40px;
  }
}
