.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f5f5;
  padding-bottom: 32px;
  min-height: calc(100vh - 0px);
  width: 100%;
  height: 811px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 32px;
}

.containerRegister {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.rightSide {
  position: relative;
}

.commentContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 1;
  width: 294px;
  margin-left: 61px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 97px;
}

.coverImg {
  background-color: #fff4df;
  padding: 14px 16px 14px 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.descComment {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.nameComment {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #f6b83d;
}

.birthCat {
  color: #26262680;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -2%;
}

.spanBithCat {
  color: #262626;
}

.descCat {
  color: #262626cc;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: -2%;
}

.leftSide {
  background-color: #ffffff;
  width: 428px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 60px;
  padding-left: 84px;
  padding-right: 84px;
}

.registerTitle {
  text-align: left;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -4%;
  padding-bottom: 16px;
}

.registerDescrip {
  color: #262626;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -2%;
}

.formRegister {
  display: flex;
  flex-direction: column;
  width: 424px;
  gap: 16px;
  margin-top: 32px;
}

.fieldEmail {
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #26262680;
  border-radius: 30px;
  outline: black;
  border: 1px solid #26262626;
  transition: all 0.3s ease;
}

.fieldEmail:focus {
  border-color: #f6b83d;
}

.fieldEmail:active {
  border-color: #f6b83d;
}

.fieldErrorEmail {
  border-color: red;
}

.fieldErrorEmail:focus {
  border-color: red;
}

.fieldPassword {
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #26262680;
  border-radius: 30px;
  outline: black;
  border: 1px solid #26262626;
  transition: all 0.3s ease;
}

.fieldPassword:focus {
  border-color: #f6b83d;
}

.fieldPassword:active {
  border-color: #f6b83d;
}

.fieldErrorPassword {
  border-color: red;
}

.fieldErrorPassword:focus {
  border-color: red;
}

.fieldPasswordRep {
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #26262680;
  border-radius: 30px;
  outline: black;
  border: 1px solid #26262626;
  transition: all 0.3s ease;
}

.fieldPasswordRep:focus {
  border-color: #f6b83d;
}

.fieldPasswordRep:active {
  border-color: #f6b83d;
}

.fieldErrorPasswordRep {
  border-color: red;
}

.fieldErrorPasswordRep:focus {
  border-color: red;
}

.btnRegister {
  font-weight: 500;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f6b83d;
  border: 1px solid #f6b83d;
  padding: 18px;
  border-radius: 30px;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

.btnRegister:hover {
  cursor: pointer;
  background-color: #f9b020;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.textLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #26262680;
}

.loginLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #f6b83d;
}

.errField {
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -3%;
  padding-left: 16px;
  color: #ef2447;
}

.friendsConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1216px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dekstopHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1216px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mobileHeader {
  display: none;
}

@media (max-width: 768px) {
  .dekstopHeader {
    display: none;
  }

  .mobileHeader {
    display: block;
  }
}
