body {
  background-color: #f8f5f5;
}

.friendList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

/* Tablets  */
@media (min-width: 768px) {
  .friendList {
    display: flex;
    gap: 20px;
  }
}

/* Desktops  */
@media (min-width: 1024px) {
  .friendList {
    max-width: 1200px;
    margin: 0 auto;
    gap: 24px;
  }
}
